{{#each songs as |song|}}
  {{log song}}


  <section class="song" data-id="{{song.id}}">
    <h2>
      <small>Title:</small> {{limit song.title 40}}
    </h2>
    <p>
      <small>Artist:</small>
      {{#if song.artist}}
        {{song.artist}}
      {{else}}
        No artist provided.
      {{/if}}
    </p>
    <p>
      <small>Tuning:</small>
      {{#if song.tuning}}
        {{song.tuning}}
      {{else}}
        No tuning provided.
      {{/if}}
    </p>
    <p>
      <small>Capo:</small>
      {{#if song.capo}}
        {{song.capo}}
      {{else}}
        No capo provided.
      {{/if}}
    </p>
    <p>
      <small>Chords:</small>
      {{#if song.chords}}
        {{song.chords}}
      {{else}}
        No chords provided.
      {{/if}}
    </p>
    <button type="submit" class="btn btn-danger delete-song">Remove</button>
    <button type="submit" class="btn btn-dark update-song" data-toggle="modal" data-target="#editSongModal">Edit</button>
  </section>

{{/each}}
